body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
#div1{
    border: 1px solid black;
    width: 500px;
    height: 100px;
    text-align: center;
    
}